{
  "username": "user1",
  "password": "BlahbLahblAh123",
  "url": "https://my-wp-site.com",
  "redirs": [
      "https://my-wp-site.com/wp-admin/",
      "https://my-wp-site.com/wp-admin/",
  ]
 }

